# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#other
test/gmm/build
test/octree/build
test/gmm_online/normal/build
test/gmm_online/adaptive/build
test/gmm/raport.txt
test/cube_line_intersection/build
test/unit/build
test/gmm/report.txt
.vscode

#temp
scenes
visualizations